.grid-container{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: repeat(3,1fr);
}

.person-container{
	margin-left: 7%;
	grid-column: 1/2;
	grid-row: 1/2;
}

.indent-contribution{
	display: block;
}
.form-contribution{
	display: flex;
	flex-direction: column;
	margin-left: 7%;
	grid-column: 2/3;
	grid-row: 1/2;
}

#contribution-open-close{
	margin-top: 3%;
}

.notification{
	grid-column: 3/4;
	grid-row: 1/2;
}

.deposits{
	margin-top: 3%;
	grid-column: 1/4;
	grid-row: 2/3;
}