html {
    font-size: 16pt;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 5pt;
}

input {
    display: block;
}

.control {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    grid-area: control;
}

.control>div, .person{
    border-style: solid;
    border-width: 1pt;
    border-radius: 9px;
    width: 300px;
    height: 300px;
}

.person {
    height: 430px;
    grid-area: person;
}

.notification-card {
    border-style: solid;
    border-width: 1pt;
    border-radius: 9px;
    padding: 5pt;
}

header {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    background: #557afc;
    border-radius: 9px;
}

header>div {
    flex-direction: row;
    display: flex;
}

a {
    color: white;
}

#wallets-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: center;
}

#user-data>img {
    width: 200px;
    height: 269px;
    border-radius: 14px;
}

.card {
    border: gray solid 1px;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 9px;
    width: 300px;
}

.card-header {
    text-align: center;
    color: darkblue;
}

.card-text {
    font-size: 0.8rem;
    text-align: center;
}

.main-grid {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-areas:
    "control control person"
    "wallets wallets notification";
}

.wallets {
    grid-area: wallets;
}

.notification {
    grid-area: notification;
}